<nav class="app-navbar">
    <div class="app-navbar-container">
        <a mat-button class="logo" href="/">
            <mat-icon>menu_open</mat-icon>
            <strong>UKido</strong>
        </a>
        <div class="app-navbar-menu">
            @for (item of items ; track item) {
                <a mat-button [routerLink]="['/', item.route]"
                routerLinkActive="navbar-item-active"
                [attr.aria-current]="item.current ? 'page': 'false'">
                {{item.key | translate}}
                </a>
            }
        </div>
        <div class="app-navbar-actions">
       <!--      <button mat-button aria-label="Nav bar side menu toggler">
                FR
            </button>     
            <mat-slide-toggle></mat-slide-toggle> -->
            <button mat-stroked-button aria-label="Nav bar side menu toggler">
                Contact us
            </button>  
            <button mat-icon-button (click)="openDrawer.next()" aria-label="Nav bar side menu toggler">
                <mat-icon>menu</mat-icon>
            </button>      
        </div>
    </div>
</nav>