
<mat-divider></mat-divider>
<mat-nav-list>
    <a mat-list-item [routerLink]="['/']">
        {{'ui.footer.legals.cookies' | translate}}
    </a>  
    <a mat-list-item [routerLink]="['/']" >
        {{'ui.footer.legals.privacy' | translate}}
    </a>        
    <a mat-list-item [routerLink]="['/']" >
        {{'ui.footer.legals.terms' | translate}}      
    </a>        
</mat-nav-list>
<mat-divider></mat-divider>
<div class="app-footer-block flex flex-wrap mdc-list-item__primary-text">
    <p class="app-footer-copyrights">{{'ui.footer.legals.copyrights' | translate}}</p>
    <div class="app-footer-social-media">
        <a class="mat-mdc-button mat-mdc-icon-button" target="_blank" href="https://www.instagram.com/quebecentete/">
            <i appSvgIcon="instagram"></i>
          </a>
          <a class="mat-mdc-button mat-mdc-icon-button" target="_blank" href="https://www.instagram.com/quebecentete/">
              <i appSvgIcon="facebook"></i>
            </a>
          <a class="mat-mdc-button mat-mdc-icon-button" target="_blank" href="https://www.linkedin.com/showcase/quebec-en-tete/">
              <i appSvgIcon="linkedin"></i>
          </a>
          <a class="mat-mdc-button mat-mdc-icon-button" target="_blank" href="https://www.youtube.com/channel/UCM4lBqpzHeFkB23SY1omcww">
              <i appSvgIcon="youtube"></i>
          </a>
    </div>
</div>


