.app-footer-block {
    padding: 16px;
    .app-footer-copyrights {
        flex: 1;
        color: var(--mat-sys-on-surface);
        font: var(--mat-sys-label-small);
    }
}

mat-divider {
    margin: 16px;
}


