<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav-content>
    <app-navbar 
    [items]="uiFacade.navbarItems$|async"
    [theme]="uiFacade.theme$|async"
    [screen]="uiFacade.matchingBreakPoint$|async"
    (openDrawer)="toggleSidenav()"></app-navbar>
    <router-outlet/>
    <app-footer></app-footer>
  </mat-sidenav-content>
  @if ((matchingBreakPointChanges$|async)?.sidenav) {
    <mat-sidenav [opened]="openSidenav"  
                  position="end" 
                  mode="over">
                  <app-drawer-menu 
                      [items]="uiFacade.navbarItems$|async"
                      (closeDrawer)="toggleSidenav()">
                  </app-drawer-menu>            
    </mat-sidenav>
  }
</mat-sidenav-container>

