<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav-content>
    <header>
      <app-navbar 
      [items]="uiFacade.navbarItems$|async"
      [theme]="uiFacade.theme$|async"
      [screen]="uiFacade.matchingBreakPoint$|async"
      (openDrawer)="toggleSidenav()"></app-navbar>
    </header>
    <div class="app-main-content">
      <main>
        <router-outlet/>
        <footer class="app-footer">
          <app-footer [navItems]="uiFacade.navbarItems$|async"></app-footer>
        </footer>
      </main>
    </div>
  </mat-sidenav-content>
  @if ((matchingBreakPointChanges$|async)?.sidenav) {
    <mat-sidenav [opened]="openSidenav"  
                  position="end" 
                  mode="over"
                  class="overflow-hidden">
                  <app-drawer-menu 
                      [items]="uiFacade.navbarItems$|async"
                      (closeDrawer)="toggleSidenav()">
                  </app-drawer-menu>            
    </mat-sidenav>
  }
</mat-sidenav-container>

